main { 
    position: relative; 
    z-index: 1; 
}
.books-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  gap: 24px;
  padding: 24px;
  z-index: 1;
  position: relative;
}

